.item-1 { grid-area: Zerodha; }
.item-2 { grid-area: Signup; }
.item-3 { grid-area: About; }
.item-4 { grid-area: Products; }
.item-5 { grid-area: Support; }
.item-6 { grid-area: Pricing; }

body, html {
    height: 100%;
    margin: 0;
    padding: 0; 
}
.Navbar {
    display: grid;
    padding: 25px 70px;
    grid-gap: 15px;
    grid-template-areas:
    'Empty Zerodha Zerodha Zerodha Zerodha Signup About Products Support Pricing'
}

.logo-img {
    max-height: 17px;
    position: relative;
}
.Navbar > h4 {
    color: #d5cbcb;
    font-size: 17px;
}


/* Hero Section CSS */

.Hero-Section > .hero-img {
    max-height: 60rem;
    max-width: 100vh;
    padding-top: 70px;

}

.Hero-Section  {  
flex: 1;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}

.text-container {
    margin-top: 20px; /* Adjust as needed */
}

#Tagline {
    margin-top: 10px; /* Add some space between image and text */
    font-size: 45px;
}

#Text-Tagline {
    color: #d5cbcb;
    padding-top: 20px;

}

.Signup {
    margin-top: 40px; /* Add space between text and button */
}



/*  Second Section CSS */
.Second-Section {
    display: flex;
    flex-direction: row;
    padding: 10%;
    gap: 100px;
    margin: 5%;
}

 .largest-broker{
    width: 50%; 
    height: auto; 
    max-width: 100%;
    padding-left: 5%;
}

.Second-Section-Text {
   width:50%;
   height: 100vh; 
   text-align: center; 
   padding-left: 50px;
}


/* THIRD CONTAINER */

.Third-Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#ecosystem {
    max-width: 850px;
    height: auto;
    width: 100%;
}
 

.Links-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
} 
a:link {
    text-decoration: none;

}
a:hover {
    color: black;
}




/* Fourth Container */

.fourth-container {
    display: flex;
    padding-top:40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

.Left-container > p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    max-width: 70%;
 
}

.right-container > h1 p {
    max-width: 70%;
    display: flex;
    flex-direction: row;
}






